//Fonts
// Language: scss
// Path: src\sass\_variables.scss
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Roboto Slab', serif;
$font-family-monospace: 'Roboto Mono', monospace;